body {
  margin: 2%;
}

.content {
  width: 700px;
  margin: auto;
}

  p {
    font-size: 18px;
    margin-top: 21px;
    line-height: 1.58;
    letter-spacing: -.004em;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  }

h1 {
  font-size: 34px;
  --x-height-multiplier: 0.342;
  --baseline-multiplier: 0.22;
  font-weight: normal;
  margin: 0;
  padding-top: 5px;
}

h3 {
  font-size: 24px;
  color: #777;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 22px;
  line-height: 1.22;
  letter-spacing: -.012em;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

.diet-table {
  width: 100%;
  min-width: 1200px;
}


